In [ ]:
#### 3rd Question: code to perform actions (take,collect,count,first)

In [1]:
sc

In [2]:
airlinesPath="hdfs:///spark/rdd/airlines.csv"

In [4]:
path = "hdfs:///spark/rdd/airlines.csv"
data = sc.textFile(path)

In [5]:
airlines=sc.textFile(airlinesPath)

In [6]:
airlines.take(10)

[u'Code,Description',
 u'"19031","Mackey International Inc.: MAC"',
 u'"19032","Munz Northern Airlines Inc.: XY"',
 u'"19033","Cochise Airlines Inc.: COC"',
 u'"19034","Golden Gate Airlines Inc.: GSA"',
 u'"19035","Aeromech Inc.: RZZ"',
 u'"19036","Golden West Airlines Co.: GLW"',
 u'"19037","Puerto Rico Intl Airlines: PRN"',
 u'"19038","Air America Inc.: STZ"',
 u'"19039","Swift Aire Lines Inc.: SWT"']

In [7]:
airlines.count()

1633

In [ ]:
airlines.collect()

In [8]:
airlines.first()

u'Code,Description'

In [ ]:
 ##Question 4: Write a Spark sql code to convert json data and select query where screen_user.name-realDonaldTrump

In [ ]:
twitterPath="hdfs:///spark/cache-0.json"

In [ ]:
import json
twitterData=sc.textFile(twitterPath).map(lambda x:json.loads(x))

In [ ]:
twitterData.take(1)

In [ ]:
from pyspark.sql import SQLContext, Row

In [ ]:
sqlC=SQLContext(sc)

In [ ]:
twitterTable=sqlC.read.json(twitterPath)

In [ ]:
twitterTable.registerTempTable("twitterTable")

In [ ]:
sqlC.sql("Select text, user.screen_name from twitterTable where user.screen_name='realDonaldTrump' limit 10").collect()

In [ ]:
##question 5  :Write a Spark Streaming Python Program to Count Error in real Time.

In [ ]:
from pyspark import SparkContext
from pyspark.streaming import StreamingContext

sc = SparkContext("local[2]","StreamingErrorCount")
ssc = StreamingContext(sc,10)
ssc.checkpoint("/streaming")
ds1 = ssc.socketTextStream("localhost",9999)
count = ds1.flatMap(lambda x:x.split(" ")).filter(lambda word:"Error" in word).map(lambda word:(word,1)).reduceByKey(lambda x,y:x+y)

count.pprint()
ssc.start()
ssc.awaitTermination()

In [ ]:
##6th question

In [ ]:
sumcount = flightparsed.map(lambda x:x.dep_delay).aggregate(0,0),
                                                                  (lambda acc, value: (acc[0] +value,acc[1]+1)),
                                                                  (lambda acc1,acc2: (acc1[0]+acc2[0],acc1[1]+acc2[1]))

In [ ]:
sumcount[0]/float(sumcount[1])

In [ ]:
##7th question

In [ ]:
from datetime import datetime
from pyspark.sql import SQLContext
from pyspark.sql import Row
d3 = d2.map(lambda x:Row(date=datetime.strptime(x[0],"%Y-%m-%d"), airline = x[1],flightnum=x[2],origin=x[3], dest=x[4], dep=x[5],dep_delay=x[6],arv=x[7],arv_delay=x[8],airtime=x[9],distance=float(x[10])))

In [ ]:
d3. \
    filter(lambda x:x['dest']=="LAX" and (x['date'] == datetime.strptime("2016-01-01", "%Y-%m-%d"))). \
    count()

In [ ]:
##8th question

In [ ]:
flightsPath="hdfs:///spark/rdd/flights.csv"

In [ ]:
flightsData = sc.textFile(flightsPath)

In [ ]:
blanks = flightsData.map(lambda x: ','.join(x or '00.00' for x in x.split(',')))

In [ ]:
blanks.take(717)

In [ ]:
blanktime = blanks.map(lambda x:x.replace(',""', ',"0000"'))

In [ ]:
finalF = blanktime
finalF.take(242)

In [ ]:
from datetime import datetime
from collections import namedtuple

fields = ('date','airline','flightnum','origin','dest','dep','dep_delay','arv','arv_delay','airtime','distance')
Flight = namedtuple('Flight',fields, verbose = False)
DATE_FMT = '%Y-%m-%d'
TIME_FMT= '%H%M%S'

def parse(row):
    row[0] = datetime.strptime(row[0],DATE_FMT).date()
    row[5] = datetime.strptime(row[5],TIME_FMT).time()
    row[6] = float(row[6])
    row[7] = datetime.strptime(row[7],TIME_FMT).time()
    row[8] = float(row[8])
    row[9] = float(row[9])
    row[10] = float(row[10])
    return Flight(*row[:11])

In [ ]:
f = finalF.filter(notHeader).map(split)

In [ ]:
f.take(717)

In [ ]:
fp = f.map(parse)

In [ ]:
fp.take(1)